# .NET
**/bin/
**/obj/
**/.vs/
**/logs/

# Node
**/node_modules/
**/.vite/

# Windows
nul

# DLL
/flytwo-backend/Workers/WorkerServicePrint/DLL/FastReport.dll
/flytwo-backend/Workers/WorkerServicePrint/DLL/FastReport.Web.dll
/flytwo-backend/Workers/WorkerServicePrint/DLL/FastReport.Web.xml
/flytwo-backend/Workers/WorkerServicePrint/DLL/FastReport.xml
/flytwo-backend/Workers/WorkerServicePrint/.env
