services:
  db:
    image: pgvector/pgvector:pg16
    restart: unless-stopped
    ports:
      - ${GOBID_DATABASE_PORT:-5580}:5580
    environment:
      POSTGRES_USER: ${GOBID_DATABASE_USER}
      POSTGRES_PASSWORD: ${GOBID_DATABASE_PASSWORD}
      POSTGRES_DB: ${GOBID_DATABASE_NAME}
    command: -p 5580
    volumes:
      - db:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    volumes:
      - redis-data:/data

volumes:
  db:
    driver: local
  redis-data:
    driver: local
